build/
packages/
logs/
Logs/
tmp
tmp/
Resumes/
Temp/
[Bb]in/
[Oo]bj/
TestResults/
PrecompiledWeb/
artifacts
*.gpState
*.suo
*.user
*[Rr]e[Ss]harper*
*.cache
UpgradeLog.XML
_UpgradeReport_Files/
*.bak
*.log
*.zip
*.dbmdl
*.log.*
App_Data/
.mdf
.ldf
*.dll
